@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: #969A97;
}

.grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 4fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.top { 
    grid-area: 1 / 2 / 2 / 3; 
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    position: sticky;
    border-left: 0.05rem solid #dfdfdf;
    border-right: 0.05rem solid #dfdfdf;
}

.main { 
    grid-area: 2 / 2 / 3 / 3; 
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    border-left: 0.05rem solid #dfdfdf;
    border-right: 0.05rem solid #dfdfdf;
    line-height: 3.2rem;
    overflow-y: scroll;
}

.bottom { 
    grid-area: 3 / 2 / 4 / 3; 
    padding-left: 2em;
    padding-right: 2em;
    position: sticky;
    border-left: 0.05rem solid #dfdfdf;
    border-right: 0.05rem solid #dfdfdf;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: space-between;
}

.display-none{
    display: none;
}

.search-bar{
    border-radius: 2rem;
    padding: 0.6rem 1.25rem;
    margin-bottom: 1rem;
    background-color: transparent;
    font-size: 1.1rem;
    color: #969A97;
    border-color: #dfdfdf;
    width: 50%;
}

.search-bar:hover{
    border-color: #C1C3C1;
}

.search-bar:focus{
    outline:none;
    border-color: #C1C3C1;
}

.text-input{
    background-color: transparent;
    border-radius: 0.7rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 1.1rem;
    color: #969A97;
    border-color: transparent;
}

.text-input:focus{
    outline:none;
    border-color: transparent;
}

.button {
    color: #969A97;
    text-decoration: none;
}

.button:hover {
  cursor: pointer;
  color: #464946;
  text-decoration: none;
}

.big-line{
    width: 95%;
    height: 0.05rem;
    background-color: #dfdfdf;
    border:0;
}

.small-line{
    width: 80%;
    height: 0.05rem;
    background-color: #dfdfdf;
    border:0;
}

.descriptor{
    font-size: 0.8rem;
    line-height: 0;
}

hr.transparent{
    opacity:0; 
    height: 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 1.2rem;
}

a {
    color: #969A97;
    text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #464946;
  text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.3rem;
    background: #dfdfdf;  
}